<a href="https://colab.research.google.com/github/hrishavranjan/Python-Basic-Collab-Codes/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=6
y=9
z=x*y
print(z)

54

In [5]:
for i in range(40):
  print(i)
  if (i%2==0):
    print(f"{i} is even")

0
0 is even
1
2
2 is even
3
4
4 is even
5
6
6 is even
7
8
8 is even
9
10
10 is even
11
12
12 is even
13
14
14 is even
15
16
16 is even
17
18
18 is even
19
20
20 is even
21
22
22 is even
23
24
24 is even
25
26
26 is even
27
28
28 is even
29
30
30 is even
31
32
32 is even
33
34
34 is even
35
36
36 is even
37
38
38 is even
39

In [6]:
for n in range(100, 1000):
    if n == sum(int(d)**3 for d in str(n)):
        print(f"{n} = {' + '.join(f'{d}^3' for d in str(n))}")

153 = 1^3 + 5^3 + 3^3
370 = 3^3 + 7^3 + 0^3
371 = 3^3 + 7^3 + 1^3
407 = 4^3 + 0^3 + 7^3

In [7]:
# Input a number and check whether number is +ive or -ive or either zero.
num = float(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 6
The number is positive.

In [9]:
# Input a number and check if it is leap year or not.
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 20019
20019 is not a leap year.

In [10]:
# Input a number and check check if number is prime or not.
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number.")
            break
    else:
        print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 7
7 is a prime number.

In [11]:
# Print all prime numbers between 1 and 1000
def is_prime(num):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True
    return False

primes = [n for n in range(1, 1001) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [13]:
# Print Sum of Array by input.
n = int(input("Enter the number of elements in the array: "))

arr = list(map(int, input(f"Enter {n} numbers separated by space: ").split()))

if len(arr) != n:
    print("Error: Number of elements entered does not match the specified size.")
else:

    total = sum(arr)
    print(f"The sum of the array is: {total}")

Enter the number of elements in the array: 4
Enter 4 numbers separated by space: 6 6 6 6
The sum of the array is: 24

In [14]:
# Print the array in reverse order
n = int(input("Enter the number of elements in the array: "))

arr = list(map(int, input(f"Enter {n} numbers separated by space: ").split()))

print("Array in reverse order:", arr[::-1])

Enter the number of elements in the array: 4
Enter 4 numbers separated by space: 6 7 8 8
Array in reverse order: [8, 8, 7, 6]

In [15]:
# Find and print the largest number in the array
n = int(input("Enter the number of elements in the array: "))

arr = list(map(int, input(f"Enter {n} numbers separated by space: ").split()))

largest = max(arr)
print(f"The largest number in the array is: {largest}")

Enter the number of elements in the array: 6
Enter 6 numbers separated by space: 8 59 7 88 8 77
The largest number in the array is: 88